<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalle Artículo
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 align="center">{{ nombre }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p align="center"><img src="{{ foto }}"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <b>Clave: </b>{{ clave }}
          </ion-item>
          <ion-item>
            <b>Descripción: </b>{{ descripcion }}
          </ion-item>
          <ion-item>
            <b>Precio: </b>$ {{ precio }}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
