<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Listado de Artículos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngIf="articulos.length == 0">
      <ion-item>
        <h2>Aún no hay artículos registrados.</h2>
      </ion-item>
    </div>
    <div *ngFor="let articulo of articulos">
      <button ion-item (click)="mostrarDetalle(articulo)">
        <ion-thumbnail item-start>
          <img src="{{ articulo.foto }}">
        </ion-thumbnail>
        <h2>{{ articulo.nombre }}</h2>
        <p>$ {{ articulo.precio }}</p>
      </button>
    </div>
  </ion-list>
</ion-content>
