page-list {
  // .item ion-thumbnail {
  //   min-width: 5rem;
  //   min-height: 5rem;
  //   img {
  //     max-width: 5rem;
  //     min-width: 5rem;
  //     max-height: 5rem;
  //     min-height: 5rem;
  //   }
  // }
}
