<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registro de Artículos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 align="center">Nuevo Artículo</h2>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col col-6>
        <button ion-button block secondary (click)="tomarFoto()">Tomar foto</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p align="center"><img src="{{ foto_url }}"></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>Clave</ion-label>
            <ion-input type="text" [(ngModel)]="clave"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Nombre</ion-label>
            <ion-input type="text" [(ngModel)]="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="descripcion"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Precio</ion-label>
            <ion-input type="text" [(ngModel)]="precio"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col>
        <button ion-button block (click)="guardarArticulo()">Registrar artículo</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
